@import "./common/colors.scss";

article {
    width: 320px;
    margin: 10px;
    background: white;

    .imgDiv {
        width: 100%;
        height: 210px;

        img {
            width: inherit;
            height: inherit;
        }
    }

    .infoDiv {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h4 {
            color: $font-primary;
        }

        p {
            margin-left: 5px;
            font-weight: 600;
            color: $font-secondary;
        }

        img {
            height: 40px;
            border-radius: 50%;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
